.recommended_section_right_box
  display: block
  width: 68.3333%
  border-top: 1px solid #cfd8dc
  height: 600px
  margin-left: 50px

.recommended_section_right_header
  margin: 25px 0 30px 0
  color: rgb(26, 26, 26)
  font-size: 26px
  line-height: 32px
  font-weight: bold

.recommended_section_right_panel
  display: flex
  flex-flow: wrap