.recommended_section_left_box
  display: flex
  justify-content: center
  align-items: center
  border: 2px solid #4d4d4d
  width: 27.6%
  border-radius: 10px

.recommended_section_left
  position: relative
  width: 100%
  height: 91%
  margin: 22px 24px 30px
  text-align: center

.recommended_section_left_image_box
  display: flex
  justify-content: center
  width: 100%
  margin-top: 50px
  opacity: 0.6


.recommended_section_left_image
  display: block
  width: 100%
  max-width: 200px
  min-width: 1px
  height: 100%
  max-height: 217px
  min-height: 1px

.recommended_section_left_header_and_safe_money
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  height: 60px

.recommended_section_left_header_box
  font-size: 26px
  line-height: 32px
  font-weight: 600
  z-index: 2

.recommended_section_left_safe_money_box
  width: 100%
  max-width: 100px
  min-width: 1px
  height: 100%
  max-height: 60px
  min-height: 1px
  background-color: rgb(112, 112, 112)
  border-radius: 10px
  z-index: 2
  margin-top: 5px

.recommended_section_left_safe_money
  text-align: center
  margin: 8px 7px
  color: white

.recommended_section_left_safe_money_first_p
  font-size: 13px
  line-height: 16px

.recommended_section_left_safe_money_second_p
  font-size: 22px
  line-height: 28px

.recommended_section_left_first_p
  font-size: 18px
  line-height: 24px

.recommended_section_left_second_p
  padding-top: 25px
  text-decoration: line-through
  color: rgb(112, 112, 112)
  font-size: 18px
  line-height: 24px

.recommended_section_left_third_p
  color: rgb(77, 77, 77)
  font-size: 31px
  line-height: 40px
  font-weight: 700
  padding-bottom: 20px

.recommended_section_left_fourth_p
  color: rgb(77, 77, 77)
  text-align: center
  font-size: 31px
  line-height: 40px
  font-weight: 700
  margin-bottom: 24px

.recommended_section_left_fifth_p
  margin-bottom: 8px
  font-size: 14px
  line-height: 20px
  padding-top: 10px

.recommended_section_left_sixth_p
  padding-top: 5px