@import "recommended_section_left"
@import "recommended_section_right"

.recommended_section
  display: flex
  justify-content: center
  width: 100%
  margin-top: 63px

.recommended_section_box
  display: flex
  width: 1444px
  padding-bottom: 30px
  border-bottom: 1px solid #cfd8dc

