@import "variables/variables"

body
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

input
  margin: 1rem
  cursor: pointer

label, .button
  cursor: pointer

.picked-value
  margin: 5rem

.button
  display: flex
  justify-content: center
  align-items: center
  background: $light-blue
  width: 3rem
  height: 2rem
