.advertisement_nav
  margin: 0 10px
  position: relative
  max-width: 1444px
  min-width: 300px
  width: 1444px
  height: 310px

.advertisement_nav_ul
  font-size: 13px
  display: flex
  justify-content: space-around
  margin: 0 10px

.advertisement_nav_ul p
  opacity: 70%
  margin-top: 15px