.advertisement_right_panel_box
  position: absolute
  right: -52px
  top: 60%
  background-color: rgb(245, 245, 245)
  transform: rotate(-90deg)
  padding: 14px 24px
  border-radius: 12px 12px 0 0
  color: rgb(0, 0, 0)
  font-size: 14px
  line-height: 20px
  box-shadow: rgb(0 0 0 / 8%) 0 0 2px 1px, rgb(0 0 0 / 8%) -2px 0 4px 0
  cursor: pointer
  z-index: 3

.advertisement_right_panel_icons
  width: 48px
  height: 48px

.advertisement_right_panel_tile
  border-bottom: 1px solid rgb(221, 221, 221)
  color: rgb(77, 77, 77)
  padding: 16px 0
  margin: 0 20px
  text-align: center
  opacity: 95%
  z-index: 3

.advertisement_right_panel_icons_box
  display: flex
  justify-content: center
  width: 100%