.advertisement_right_panel_hover_why_x-kom
  background-color: rgb(245, 245, 245)
  border-bottom: 1px solid rgb(221, 221, 221)
  color: rgb(0, 0, 0)
  padding: 14px 24px
  text-align: center
  border-radius: 16px 16px 0 0
  font-size: 13px
  line-height: 20px
  z-index: 3



.advertisement_right_panel_hover_box
  width: 152px
  display: block
  box-shadow: rgb(0 0 0 / 8%) 0 0 2px 1px, rgb(0 0 0 / 8%) 0 2px 4px 0
  border-radius: 16px
  cursor: pointer
  z-index: 3

.advertisement_right_panel_hover
  position: absolute
  transform: rotate(+90deg)
  bottom: -273%
  right: 31%
  z-index: 3

.advertisement_right_panel_box:hover .advertisement_right_panel_hover
  display: block

.advertisement_right_panel_hover
  display: none
