.advertisement_first_hover_element, .advertisement_second_hover_element, .advertisement_third_hover_element, .advertisement_fourth_hover_element, .advertisement_fifth_hover_element, .advertisement_sixth_hover_element
  position: absolute
  border-radius: 24px
  cursor: pointer
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%

.advertisement_nav_li_first:hover
  .advertisement_first_hover_element
    display: block

  &.advertisement_nav_li_first
     border-top: solid 4px black
.advertisement_nav_li_second:hover
  .advertisement_second_hover_element
    display: block

  &.advertisement_nav_li_second
      border-top: solid 4px black

.advertisement_nav_li_third:hover
  .advertisement_third_hover_element
    display: block

  &.advertisement_nav_li_third
    border-top: solid 4px black

.advertisement_nav_li_fourth:hover
  .advertisement_fourth_hover_element
    display: block

  &.advertisement_nav_li_fourth
    border-top: solid 4px black

.advertisement_nav_li_fifth:hover
  .advertisement_fifth_hover_element
    display: block

  &.advertisement_nav_li_fifth
    border-top: solid 4px black

.advertisement_nav_li_sixth:hover
  .advertisement_sixth_hover_element
    display: block

  &.advertisement_nav_li_sixth
    border-top: solid 4px black





