.bottom_nav_partners_section
  display: flex
  justify-content: center
  margin-top: 30px

.bottom_nav_partners
  display: flex
  justify-content: center
  width: 1444px

.bottom_nav_icon_box
  width: 100px
  height: 48px
  margin: 0 4px
  filter: grayscale(1)

.bottom_nav_partners_icon
  width: 100%
  height: 100%
  object-fit: scale-down