.newsletter_and_app_container
  width: 100%
  display: flex
  justify-content: center
  margin-top: 45px

.newsletter_and_app_box
  width: 1444px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.newsletter_container
  margin-bottom: 15px

.newsletter_box, .app_box
  display: flex
  justify-content: space-between
  width: 635px
  height: 150px
  max-width: 635px
  min-width: 200px
  max-height: 150px
  min-height: 50px
  box-shadow: rgb(0 0 0 / 8%) 0 0 2px 1px, rgb(0 0 0 / 8%) 0 2px 4px 0
  background-color: rgb(249, 249, 249)
  border-radius: 15px
  padding: 24px 22px 13px 40px


.newsletter_first_p
  color: rgb(26, 26, 26)
  font-weight: 700
  font-size: 22px
  line-height: 28px

.newsletter_second_p
  margin: 10px 0 12px
  color: rgb(77, 77, 77)
  font-size: 14px
  line-height: 20px
  width: 186px
  text-align: left

.newsletter_email
  position: relative
  width: 268px
  max-width: 268px
  min-width: 70px
  border-radius: 666px

.newsletter_input
  position: absolute
  border-left: 1px solid rgb(204, 204, 204)
  border-top: 1px solid rgb(204, 204, 204)
  border-bottom: 1px solid rgb(204, 204, 204)
  border-right: none
  border-radius: 666px
  width: 100%
  height: 40px
  padding: 0 10px 0 20px

.newsletter_input:focus
  outline: none

.newsletter_input:focus::placeholder
  color: transparent

.newsletter_button
  position: absolute
  top: 1px
  right: -34px
  height: 40px
  background-color: rgb(0, 130, 250)
  color: rgb(255, 255, 255)
  font-size: 14px
  line-height: 20px
  width: 92px
  border-radius: 666px


.app_left
  width: 480px

.app_first_p
  font-size: 22px
  line-height: 28px
  color: rgb(26, 26, 26)
  font-weight: 700
  margin: 0 0 4px

.app_second_p
  width: 190px
  text-align: left
  font-size: 14px
  line-height: 20px
  color: rgb(77, 77, 77)
  margin: 0 0 22px

.app_icons
  display: flex
  justify-content: space-around

.app_icon
  width: 108px
  height: 32px

.app_icon_img
  width: 100%
  height: 100%

.app_right_image_box
  width: 140px
  height: 170px

.app_right_image
  width: 100%
  height: 100%
  object-fit: scale-down

.app_box:hover
  box-shadow: rgb(0 0 0 / 8%) 0 0 2px 1px, rgb(0 0 0 / 16%) 0 4px 8px 0
  cursor: pointer

