.search-field .search_field_input
  &:focus
    outline: none
    box-shadow: 0 4px 10px #cfd8dc

  padding: 5px 174px 5px 20px
  border: 0
  border-radius: 20px
  height: 38px
  width: 100%
  opacity: 80%

.search_field_input
  position: absolute
  max-width: 775px
  width: 100%
  min-width: 300px