.search-field
  position: relative
  box-sizing: border-box
  align-items: center
  border-radius: 20px
  border: 1px solid rgb(204, 204, 204)
  height: 40px
  max-width: 775px
  width: 100%
  min-width: 300px

