.search-field-property-hover
  display: none
  position: absolute
  top: 103%
  right: 0
  border-radius: 0 0 5px 5px
  box-shadow: rgba(0, 0, 0, 0.64) 0 0 4px 0
  z-index: 1

.search-field-property-hover-box:last-child
  padding-bottom: 5px

.search-field-property-hover-box
  width: 200px

.search-field-property
  height: auto
  padding: 8px 14px 10px 12px
  position: absolute
  right: 68px
  top: 2px

  &:hover
    .search-field-property-hover
      display: block
      background-color: white

    background-color: #f5f5f5
    border-radius: 20px
    cursor: pointer

.search-field-property-element

  height: 44px
  display: flex
  align-items: center
  width: 100%

.search-field-property-element a
  padding: 0 16px 0 32px


.search-field-property-element:hover
  background-color: #f5f5f5
  cursor: pointer