// zmienne
$c-black: #000
$c-yellow: #f1f171
$c-grey: #cfd8dc

//mixiny
=sampleMixin
  background: $c-yellow
  font-size: 20px
  display: block
  line-height: 24px



//animacje
//transition: all 0.2s/