@import "shipping-and-returns"
@import "shoe-features"


@media screen and (max-width: 1300px)
  .main-content-footer
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center