.shipping-and-returns
  position: absolute
  top: 46rem
  right: 4rem
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.7rem
  font-weight: 700

@media screen and (max-width: 1300px)
  .shipping-and-returns
    position: static
    margin: 8rem 0

@media screen and (max-width: 670px)
  .shipping-and-returns
    font-size: 1rem