.bestsellers_container
  display: flex
  justify-content: center
  width: 100%

.bestsellers_box
  width: 1444px
  border-bottom: 1px solid #cfd8dc

.bestsellers_section
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  padding-top: 8px