.nav-button
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  width: 8rem
  height: 3rem
  color: black

  &:last-child
    background: black
    border-radius: 10rem
    color: white

@media screen and (max-width: 1400px)
  .nav-button
    margin: 1rem 0