@import "base/reset"
@import "variables/variables"
@import "variables/mixins"

.main-container
  @include flex-center-center
  width: 100vw
  height: 100vh

.to-do-box
  max-width: 40rem
  min-width: 14rem
  max-height: 60vh
  display: flex
  align-items: center
  flex-direction: column
  border: 0.1rem solid $black

.add-list-element
  @include flex-between-center
  flex-direction: column
  width: max-content
  margin: 3rem 0

  &__input
    max-width: 12rem
    min-width: 7rem

  &__btn
    @include flex-center-center
    background: $light-green
    cursor: pointer
    width: 4rem
    height: 2rem
    margin: 1rem

.to-do-list
  max-height: 60vh
  overflow-x: hidden
  padding: 0

  &::-webkit-scrollbar
    width: 1rem

  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 0.2rem $grey
    border-radius: 10px

  &::-webkit-scrollbar-thumb
    background: red
    border-radius: 1rem

  &::-webkit-scrollbar-thumb:hover
    background: #b30000

  &__element
    @include flex-between-center
    border: 0.1rem solid $black
    max-width: 30rem
    min-width: 12rem
    margin: 0.3rem

  &__element-index
    margin: 1rem

  &__element-value
    margin: 0.3rem
    overflow-wrap: anywhere

  &__functional-buttons
    display: flex
    align-items: center

.remover
  position: relative
  margin: 0 0.5rem
  padding: 0.6rem 1.5rem 0.7rem 0
  cursor: pointer
  width: max-content
  height: max-content

  &__line
    position: absolute
    width: 1.4rem
    height: 0.1rem
    background: $black
    z-index: -1

    &--1
      transform: rotate(45deg)

    &--2
      transform: rotate(-45deg)

.change-order-buttons
  display: flex
  align-items: center
  flex-direction: column
  width: 2rem

.arrow
  width: 0
  height: 0
  appearance: none
  background: $white
  background: transparent
  cursor: pointer

  &__up
    margin-top: 0.4rem
    border-top: 0.4rem solid $black
    border-right: 0.6rem solid transparent
    border-bottom: 0.6rem solid transparent
    border-left: 0.4rem solid $black
    transform: rotate(45deg)

  &__down
    margin-bottom: 0.4rem
    border-top: 0.4rem solid $black
    border-right: 0.6rem solid transparent
    border-bottom: 0.6rem solid transparent
    border-left: 0.4rem solid $black
    transform: rotate(225deg)


