.news_container
  display: flex
  justify-content: center
  width: 100%

.news_box
  position: relative
  background-color: white
  width: 1444px
  border-bottom: 1px solid #cfd8dc

.news_section
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  padding-top: 8px

