@import "slider-btn"
@import "product-box/product-box"
@import "main-content-left-side/main-content-left-side"
@import "main-content-rating/main-content-rating"
@import "main-content-header/main-content-header"
@import "main-content-footer/main-content-footer"

.main-content
  position: relative
  width: 100%

@media screen and (max-width: 1600px)
  .main-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

