.side-menu-hover-left
  display: none
  position: absolute
  top: 92%
  font-size: 14px
  line-height: 20px
  border-radius: 0 10px 10px 10px
  box-shadow: rgba(0, 0, 0, 0.64) 0 5px 8px -3px
  z-index: 1

.side-menu-element:hover .side-menu-hover-left
  display: block
  background-color: white

.side-menu-hover-right
  display: none
  position: absolute
  width: 360px
  top: 92%
  font-size: 14px
  line-height: 20px
  border-radius: 10px 0 10px 10px
  box-shadow: rgba(0, 0, 0, 0.64) 0 5px 8px -3px
  right: 0
  z-index: 1

.side-menu-element:hover .side-menu-hover-right
  display: block
  background-color: white

.side-menu-hover-element
  padding: 5px 0 5px 16px
  display: flex
  align-items: center

  span
    margin-right: 10px

.side-menu-hover-element:hover
  background-color: #cfd8dc
  cursor: pointer

.phone_numbers_box:hover
  background-color: #cfd8dc
  cursor: pointer

.side-menu-hover-additional
  padding: 5px 0 5px 16px
  display: flex
  align-items: center

  span
    margin-right: 10px


.side-menu-element:hover
  box-shadow: rgba(0, 0, 0, 0.64) 0 -2px 8px -3px
  border-radius: 10px 10px 0 0

.side-menu-your-lists:hover
  box-shadow: rgba(0, 0, 0, 0.64) 0 0 8px -3px
  border-radius: 10px 10px 10px 10px

.login
  width: 230px
  background: rgb(0, 130, 250)
  height: 32px
  border: 0
  border-radius: 20px
  color: white

.login:hover
  cursor: pointer
  background-color: #1976d2

.make-account
  width: 230px
  border-radius: 20px
  color: rgb(0, 130, 250)
  border: 1px solid rgb(0, 130, 250)
  height: 32px
  background: white

.make-account:hover
  background-color: #1976d2
  cursor: pointer

.make-account:hover .make-account-p
  color: white

.sale
  width: 100%
  margin-top: 6px
  background: rgb(255, 255, 255)
  color: rgb(0, 130, 250)
  border: 1px solid rgb(0, 130, 250)
  padding: 9px 0 9px 0
  font-size: 14px
  line-height: 20px
  text-align: center
  border-radius: 20px

.sale:hover
  background-color: #1976d2
  cursor: pointer

.sale:hover .sale_p
  color: white

.side-menu-hover-make-account
  padding: 7px 20px
  display: flex
  align-items: center

.side-menu-hover-make-account:hover
  background-color: #cfd8dc
  cursor: pointer
