.side-menu-element
  font-size: 11px
  width: 88px
  height: 64px
  position: relative

.side-menu-element-box
  display: flex
  justify-content: center
  padding: 6px 0 0 0

.side-menu-element-box:hover
  cursor: pointer

.side-menu-your-lists
  p
    text-align: center
    line-height: 12px
    color: rgb(0, 0, 0)
    padding-top: 1px

  font-size: 11px
  width: 88px
  height: 60px
  margin-bottom: 4px
  cursor: pointer

.side-menu-box-p

  text-align: center
  line-height: 12px
  color: rgb(0, 0, 0)
  padding-top: 1px

.side-menu-box-p:hover
  cursor: pointer
