.last_watched_container
  display: flex
  justify-content: center
  width: 100%

.last_watched_box
  width: 1444px
  border-bottom: 1px solid #cfd8dc
.last_watched_section
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  padding-top: 8px