@import "right_bottom_communicator/right_bottom_communicator"

.top-container
  position: fixed
  width: 100%
  background-color: white
  top: 0
  z-index: 10

.top-logo-search-menu-box
  display: flex
  align-items: center
  justify-content: center
  width: 100%

