.bottom_nav_container
  display: flex
  justify-content: center
  width: 100%

.bottom_nav_box
  width: 1444px
  margin-top: 40px

.bottom_nav_section
  display: flex
  flex-grow: 1

.bottom_nav_orders_box, .bottom_nav_sales_and_inspirations_box, .bottom_nav_x-kom_box, .box_nav_contact_box
  padding: 0 8px

.bottom_nav_tile_header
  margin: 0 0 16px
  font-size: 16px
  line-height: 24px
  font-weight: 700
  color: rgb(0, 0, 0)

.bottom_nav_tile
  width: 342px
  max-width: 342px
  min-width: 100px
  margin-bottom: 16px
  text-decoration: none
  font-size: 14px
  line-height: 20px
  color: rgb(77, 77, 77)

.bottom_nav_tile:hover
  text-decoration: underline
  cursor: pointer

.bottom_nav_icon_and_number:hover
  cursor: pointer

.bottom_nav_phone_number:hover
  cursor: pointer
  text-decoration: underline


.bottom_nav_phone_number
  font-size: 22px
  line-height: 28px
  color: rgb(26, 26, 26)
  display: inline-flex
  margin-left: 5px
  padding-bottom: 4px

.bottom_nav_days_and_hours p
  color: rgb(112, 112, 112)
  white-space: nowrap
  padding: 4px 0

.bottom_nav_x-kom_email, .bottom_nav_x-kom_salons, .bottom_nav_make_an_appointment
  display: flex
  align-items: center
  padding: 8px 0 8px 16px
  font-size: 14px
  line-height: 20px
  color: rgb(77, 77, 77)
  margin: 7px 0

.bottom_nav_icon
    margin-right: 10px

.bottom_nav_x-kom_email, .bottom_nav_x-kom_salons, .bottom_nav_make_an_appointment
  &:hover
    text-decoration: underline
    cursor: pointer

.bottom_nav_social_media_icon
  filter: grayscale(1)
  padding: 12px

.bottom_nav_social_media_icon:hover
  filter: none
  cursor: pointer

.bottom_nav_copyright
  padding: 20px 0
  width: 100%
  text-align: center
  color: rgb(77, 77, 77)
  font-size: 13px
  line-height: 16px