.brand_zone_template
  width: 152px

.brand_zone_template_box
  display: flex
  justify-content: center
  align-items: center
  filter: grayscale(1)

.brand_zone_template_box:hover
  filter: none

.brand_zone_template_image
  max-width: 40px
  max-height: 40px
  border-radius: 10px