.news_template_videos
  padding: 0 8px
  margin-bottom: 32px
  max-width: 340px
  max-height: 325px

.news_template_videos_box
  display: flex
  justify-content: center
  max-width: 362px
  height: 180px
  box-shadow: #cfd8dc 0 0 2px 1px
  border-radius: 15px
  cursor: pointer

.news_template_videos_video
  width: 100%
  height: 100%

.news_template_title
  margin-top: 8px
  color: rgb(26, 26, 26)
  font-weight: bold
  font-size: 18px
  line-height: 24px
  cursor: pointer

.news_template_title_under
  margin: 4px 0
  font-size: 14px
  line-height: 20px
  color: rgb(77, 77, 77)
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.news_template_dot
  background-color: rgb(112, 112, 112)
  border-radius: 2px
  width: 3px
  height: 3px
  margin: 6px 8px

.news_template_bottom_panel
  display: flex

.news_template_bottom_paneL_first, .news_template_bottom_paneL_second
  font-size: 12px
  line-height: 16px
  color: rgb(112, 112, 112)

