.product_template_box
  max-width: 232px
  max-height: 252px
  min-width: 154px
  min-height: 252px
  height: 252px
  width: 232px
  padding-right: 8px
  margin-bottom: 22px

.product_template_inside_box
  position: relative
  width: 96%
  border-radius: 10px

.product_template_inside_box:hover .product_template_favourite_box_hover
  display: block

.product_template_inside_box:hover .product_template_add_to_cart_box_hover
  display: block

.product_template_inside_box:hover
  box-shadow: #cfd8dc 0 0 2px 1px
  cursor: pointer


.product_template_img_box
  display: flex
  justify-content: center
  padding-top: 25px

.product_template_img_sizing
  width: 156px
  height: 130px

.product_template_img
  width: 100%
  height: 100%


.product_template_name
  font-size: 14px
  line-height: 20px
  white-space: normal
  margin: 0 12px

.product_template_price_discount
  text-decoration: line-through
  color: #707070
  font-size: 14px
  padding: 8px 12px 0 12px

.product_template_price
  align-self: flex-end
  padding: 0 12px 8px 12px
  font-size: 14px
  line-height: 20px

