.product_template_favourite_box_hover
  position: absolute
  display: none
  right: 4%
  top: 5%

.product_template_favourite
  display: flex
  justify-content: center
  align-self: center
  padding: 5px
  border-radius: 100%

.product_template_favourite_box_hover:hover .product_template_favourite
  background-color: #f5f5f5

.product_template_add_to_cart_box_hover
  position: absolute
  display: none
  right: 4%
  bottom: 5%

.product_template_add_to_cart
  display: flex
  justify-content: center
  align-self: center
  padding: 5px
  fill: rgb(17, 158, 0)
  border-radius: 100%
  border: 1px solid rgb(17, 158, 0)

.product_template_add_to_cart_box_hover:hover .product_template_add_to_cart
  background-color: rgb(17, 158, 0)
  border: none
  fill: white