.choosen_for_you_container
  display: flex
  justify-content: center
  width: 100%

.choosen_for_you_box
  position: relative
  background-color: white
  width: 1444px
  border-bottom: 1px solid #cfd8dc

.choosen_for_you_header
  position: relative
  height: 60px
  margin: 20px 0

.choosen_for_you_header_left_top
  position: absolute
  color: rgb(26, 26, 26)
  font-size: 26px
  line-height: 32px
  font-weight: bold
  cursor: pointer

.choosen_for_you_header_left_bottom
  position: absolute
  bottom: 0
  color: rgb(112, 112, 112)
  font-size: 16px
  line-height: 24px

.choosen_for_you_header_right_top_box
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  right: 0
  font-size: 14px
  height: 36px
  padding: 0 10px 0 15px
  border-radius: 25px

.choosen_for_you_header_right_top_box:hover
  background-color: #f5f5f5


.choosen_for_you_section
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  padding-top: 8px