.right_bottom_communicator
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  height: 66px
  width: 66px
  background-color: #0082fa
  right: 28px
  bottom: 8px
  border-radius: 50%
  cursor: pointer

.chat_bubble_image
  filter: invert(1)