.connecting-line
  background: black
  width: 5rem
  height: 0.1rem
  margin: 5rem 2rem 0 2rem

@media screen and (max-width: 1800px)
  .connecting-line
    width: 0.1rem
    height: 5rem
    margin: 2rem 0 2rem 5rem

@media screen and (max-width: 1600px)
  .connecting-line
    width: 5rem
    height: 0.1rem
    margin: 5rem 2rem 0 2rem

@media screen and (max-width: 670px)
  .connecting-line
    width: 0.1rem
    height: 5rem
    margin: 2rem 0 2rem 5rem