.review-video
  font-weight: 700
  letter-spacing: 0.1rem

  &__main-circle
    position: relative
    background: beige
    width: 10rem
    height: 10rem
    border-radius: 10rem

  &__play-button
    position: absolute
    top: 4.1rem
    left: 4.2rem
    z-index: 2
    width: 1.8rem
    height: 1.8rem
    filter: invert(1)

  &__inside-circle
    position: absolute
    top: 2.8rem
    left: 2.8rem
    background: black
    width: 4.4rem
    height: 4.4rem
    border-radius: 10rem
    box-shadow: 0 0.5rem 1rem gray

  &__smallest-circle
    position: absolute
    top: 8rem
    left: 4.5rem
    background: black
    width: 1rem
    height: 1rem
    border-radius: 10rem

  &__circle-caption
    display: flex
    font-size: 1.3rem

.ch1
  transform: translate(0.9rem, 3rem) rotate(-70deg)

.ch2
  transform: translate(0.4rem, 1.9rem) rotate(-56deg)

.ch3
  transform: translate(0.3rem, 1.2rem) rotate(-44deg)

.ch4
  transform: translate(0.4rem, 0.7rem) rotate(-23deg)

.ch5
  transform: translate(0.5rem, 0.5rem) rotate(-8deg)

.ch6
  transform: translate(1.5rem, 0.7rem) rotate(19deg)

.ch7
  transform: translate(1.6rem, 1.1rem) rotate(36deg)

.ch8
  transform: translate(1.6rem, 1.7rem) rotate(48deg)

.ch9
  transform: translate(1.3rem, 2.5rem) rotate(63deg)

.ch10
  transform: translate(0.4rem, 3.5rem) rotate(-111deg)