@import "main-menu-element"
@import "main-menu-element-hover"
@import "main-menu-nav-element"
@import "main_menu_element_tiles_hover/main_menu_element_tiles_hover"

.main-menu
  padding-top: 1px
  width: 1445px
  font-size: 13px
  line-height: 16px

.main-menu-nav
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1445px
  height: 48px

.main-menu-nav:last-child
  border-right: 1px solid black


  //.main-menu-nav
  //  display: flex
  //  justify-content: space-between
  //  align-items: center
  //  max-width: 1445px
  //  height: 48px
  //  &__element
  //    display: flex
  //    flex-grow: 1
  //    padding: 15px 0 20px 0
  //    width: 100%
  //    li
  //      width: 100%
  //  &__link
  //    display: flex
  //    align-items: center
  //    height: 100%
  //    padding-right: 1px
