@import "main-menu-element"
@import "main-menu-element-hover"
@import "main-menu-nav-element"
@import "main_menu_element_tiles_hover/main_menu_element_tiles_hover"

.main-menu
  padding-top: 1px
  width: 1445px
  font-size: 13px
  line-height: 16px

.main-menu-nav
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1445px
  height: 48px
