
.main-menu-nav-element
  display: flex
  flex-grow: 1
  padding: 15px 0 20px 0
  width: 100%

  li
    width: 100%

.main-menu-hover-nav
  position: relative

.main-menu-nav-header
  padding: 3px 0 3px 8px