.main-menu-element
  padding: 0 17px
  height: 100%
  position: relative
  border-radius: 2% 2% 0 0

.main-menu-element-a
  display: flex
  align-items: center
  height: 100%
  padding-right: 1px

.main-menu-element-a:hover
  cursor: pointer

.main-menu-last-child
  display: flex
  align-items: center
  height: 100%

.main-menu-last-child:hover
  cursor: pointer

.main-menu-element-header
  display: flex
  justify-content: space-between
  width: 250px
  padding: 5px 5px 5px 25px
  height: 24px

  p
    font-weight: 600
    font-size: 14px

  a
    padding-right: 8px
    opacity: 70%
    font-size: 14px

.main-menu-element-header a:hover
  cursor: pointer

.main-menu-hover-round
  border-radius: 0 30px 30px 0

.main-menu-hover-round, .main-menu-hover-square
    &:hover

      background-color: #f5f5f5
      cursor: pointer

    padding: 5px 0 5px 25px
    display: flex
    justify-content: space-between
    align-items: center
    height: 22px
    font-size: 14px

.main_menu_double_hover ul li
    &:hover
      background-color: #f5f5f5
      cursor: pointer

    padding: 5px 0 5px 25px
    display: flex
    align-items: center
    height: 22px
    font-size: 14px
    border-radius: 0 30px 30px 0
    width: 355px

.recommended
  padding-top: 5px
  width: 350px

.main-menu-element-img
  width: 11px
  height: 11px
  opacity: 80%
  padding-right: 8px

